* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SF pro text, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.logo-text {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 900;
}

body {
  background-color: #faf7f2;
  transition: all 0.3s ease-in-out;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.logo {
  display: flex;
  align-items: center;
}

.radius {
  border-radius: 25px;
  position: relative;
  min-width: 170px;
  background: rgb(255, 84, 0);
  background: linear-gradient(
    160deg,
    rgba(255, 84, 0, 1) 45%,
    rgba(255, 182, 146, 1) 100%
  );
  padding: 1px;
  margin-bottom: 10px;
}
.radius2 {
  border-radius: 25px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.radius2-light {
  background-color: #faf7f2;
}

.radius2-dark {
  background-color: #002437;
}

.technical-preview {
  background: rgb(255, 84, 0);
  background: linear-gradient(
    160deg,
    rgba(255, 84, 0, 1) 45%,
    rgba(255, 182, 146, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-content {
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.title {
  font-size: 6rem;
  font-weight: 900;
}

.description {
  font-size: 1rem;
  color: #828282;
  padding-bottom: 20px;
}

.learn-more-btn,
.email-btn {
  background-color: #ff5400;
  border: solid 1px #ff5400;
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  color: #faf7f2;
  transition: all 0.3s ease;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.learn-more-btn:hover {
  background-color: #faf7f2;
  color: #ff5400;
  border: solid 1px #ff5400;
}

.email-btn:hover {
  background-color: #db4900;
  border: solid 1px #db4900;
}

.learn-more-btn {
  background-color: #ff5400;
  border: solid 1px #ff5400;
}

input {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  background-color: #848484;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.check::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #faf7f2;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

input:checked + .check::before {
  left: 22px;
}

input:checked + .check {
  background-color: #ff5400;
}

.transition-1 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: #ff5400;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}

.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background-color: #ff5400;
  transition: 0.5s ease-in-out;
}

.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #ff5400;
  transition: 0.5s ease-in-out;
}

.transition-3.is-active {
  top: 0;
}

.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

input[type='text'] {
  visibility: visible;
  display: block;
  background-color: #efe7d7;
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 450px;
  height: 50px;
  font-size: 1rem;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.modal {
  color: #000000;
  background: #faf7f2;
  padding: 30px 50px;
  width: 750px;
  height: 450px;
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.modal-title {
  text-align: center;
}

.close {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.x {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 30px;
  cursor: pointer;
  height: 30px;
}

#name {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  nav {
    padding: 10px;
  }
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 0.8rem;
  }

  .learn-more-btn {
    padding-left: 100px;
    padding-right: 100px;
  }

  .hero-content {
    padding: 10px;
  }

  .modal {
    width: 80%;
    padding: 20px 40px;
  }

  input[type='text'] {
    width: 250px;
  }

  #confirm {
    width: 220px;
  }
}

@media (min-width: 767px) and (max-width: 1025px) {
  nav {
    padding: 20px;
  }
  .title {
    font-size: 5rem;
  }

  .description {
    font-size: 1.3rem;
  }

  .learn-more-btn {
    padding-left: 100px;
    padding-right: 100px;
  }

  input[type='text'] {
    width: 400px;
  }

  .modal {
    width: 700px;
    font-size: 1.2rem;
  }
}

.dark {
  background-color: #002437;
  color: #faf7f2;
}

#stars {
  position: absolute;
  z-index: -1;
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #333, 324px 42px #333, 303px 586px #333,
    1312px 276px #333, 451px 625px #333, 521px 1931px #333, 1087px 1871px #333,
    36px 1546px #333, 132px 934px #333, 1698px 901px #333, 1418px 664px #333,
    1448px 1157px #333, 1084px 232px #333, 347px 1776px #333, 1722px 243px #333,
    1629px 835px #333, 479px 969px #333, 1231px 960px #333, 586px 384px #333,
    164px 527px #333, 8px 646px #333, 1150px 1126px #333, 665px 1357px #333,
    1556px 1982px #333, 1260px 1961px #333, 1675px 1741px #333,
    1843px 1514px #333, 718px 1628px #333, 242px 1343px #333, 1497px 1880px #333,
    1364px 230px #333, 1739px 1302px #333, 636px 959px #333, 304px 686px #333,
    614px 751px #333, 1935px 816px #333, 1428px 60px #333, 355px 335px #333,
    1594px 158px #333, 90px 60px #333, 1553px 162px #333, 1239px 1825px #333,
    1945px 587px #333, 749px 1785px #333, 1987px 1172px #333, 1301px 1237px #333,
    1039px 342px #333, 1585px 1481px #333, 995px 1048px #333, 524px 932px #333,
    214px 413px #333, 1701px 1300px #333, 1037px 1613px #333, 1871px 996px #333,
    1360px 1635px #333, 1110px 1313px #333, 412px 1783px #333, 1949px 177px #333,
    903px 1854px #333, 700px 1936px #333, 378px 125px #333, 308px 834px #333,
    1118px 962px #333, 1350px 1929px #333, 781px 1811px #333, 561px 137px #333,
    757px 1148px #333, 1670px 1979px #333, 343px 739px #333, 945px 795px #333,
    576px 1903px #333, 1078px 1436px #333, 1583px 450px #333, 1366px 474px #333,
    297px 1873px #333, 192px 162px #333, 1624px 1633px #333, 59px 453px #333,
    82px 1872px #333, 1933px 498px #333, 1966px 1974px #333, 1975px 1688px #333,
    779px 314px #333, 1858px 1543px #333, 73px 1507px #333, 1693px 975px #333,
    1683px 108px #333, 1768px 1654px #333, 654px 14px #333, 494px 171px #333,
    1689px 1895px #333, 1660px 263px #333, 1031px 903px #333, 1203px 1393px #333,
    1333px 1421px #333, 1113px 41px #333, 1206px 1645px #333, 1325px 1635px #333,
    142px 388px #333, 572px 215px #333, 1535px 296px #333, 1419px 407px #333,
    1379px 1003px #333, 329px 469px #333, 1791px 1652px #333, 935px 1802px #333,
    1330px 1820px #333, 421px 1933px #333, 828px 365px #333, 275px 316px #333,
    707px 960px #333, 1605px 1554px #333, 625px 58px #333, 717px 1697px #333,
    1669px 246px #333, 1925px 322px #333, 1154px 1803px #333, 1929px 295px #333,
    1248px 240px #333, 1045px 1755px #333, 166px 942px #333, 1888px 1773px #333,
    678px 1963px #333, 1370px 569px #333, 1974px 1400px #333, 1786px 460px #333,
    51px 307px #333, 784px 1400px #333, 730px 1258px #333, 1712px 393px #333,
    416px 170px #333, 1797px 1932px #333, 572px 219px #333, 1557px 1856px #333,
    218px 8px #333, 348px 1334px #333, 469px 413px #333, 385px 1738px #333,
    1357px 1818px #333, 240px 942px #333, 248px 1847px #333, 1535px 806px #333,
    236px 1514px #333, 1429px 1556px #333, 73px 1633px #333, 1398px 1121px #333,
    671px 1301px #333, 1404px 1663px #333, 740px 1018px #333, 1600px 377px #333,
    785px 514px #333, 112px 1084px #333, 1915px 1887px #333, 1463px 1848px #333,
    687px 1115px #333, 1268px 1768px #333, 1729px 1425px #333,
    1284px 1022px #333, 801px 974px #333, 1975px 1317px #333, 1354px 834px #333,
    1446px 1484px #333, 1283px 1786px #333, 11px 523px #333, 1842px 236px #333,
    1355px 654px #333, 429px 7px #333, 1033px 1128px #333, 157px 297px #333,
    545px 635px #333, 52px 1080px #333, 827px 1520px #333, 1121px 490px #333,
    9px 309px #333, 1744px 1586px #333, 1014px 417px #333, 1534px 524px #333,
    958px 552px #333, 1403px 1496px #333, 387px 703px #333, 1522px 548px #333,
    1355px 282px #333, 1532px 601px #333, 1838px 790px #333, 290px 259px #333,
    295px 598px #333, 1601px 539px #333, 1561px 1272px #333, 34px 1922px #333,
    1024px 543px #333, 467px 369px #333, 722px 333px #333, 1976px 1255px #333,
    766px 983px #333, 1582px 1285px #333, 12px 512px #333, 617px 1410px #333,
    682px 577px #333, 1334px 1438px #333, 439px 327px #333, 1617px 1661px #333,
    673px 129px #333, 794px 941px #333, 1386px 1902px #333, 37px 1353px #333,
    1467px 1353px #333, 416px 18px #333, 187px 344px #333, 200px 1898px #333,
    1491px 1619px #333, 811px 347px #333, 924px 1827px #333, 945px 217px #333,
    1735px 1228px #333, 379px 1890px #333, 79px 761px #333, 825px 1837px #333,
    1980px 1558px #333, 1308px 1573px #333, 1488px 1726px #333,
    382px 1208px #333, 522px 595px #333, 1277px 1898px #333, 354px 552px #333,
    161px 1784px #333, 614px 251px #333, 526px 1576px #333, 17px 212px #333,
    179px 996px #333, 467px 1208px #333, 1944px 1838px #333, 1140px 1093px #333,
    858px 1007px #333, 200px 1064px #333, 423px 1964px #333, 1945px 439px #333,
    1377px 689px #333, 1120px 1437px #333, 1876px 668px #333, 907px 1324px #333,
    343px 1976px #333, 1816px 1501px #333, 1849px 177px #333, 647px 91px #333,
    1984px 1012px #333, 1336px 1300px #333, 128px 648px #333, 305px 1060px #333,
    1324px 826px #333, 1263px 1314px #333, 1801px 629px #333, 1614px 1555px #333,
    1634px 90px #333, 1603px 452px #333, 891px 1984px #333, 1556px 1906px #333,
    121px 68px #333, 1676px 1714px #333, 516px 936px #333, 1947px 1492px #333,
    1455px 1519px #333, 45px 602px #333, 205px 1039px #333, 793px 172px #333,
    1562px 1739px #333, 1056px 110px #333, 1512px 379px #333, 1795px 1621px #333,
    1848px 607px #333, 262px 1719px #333, 477px 991px #333, 483px 883px #333,
    1239px 1197px #333, 1496px 647px #333, 1649px 25px #333, 1491px 1946px #333,
    119px 996px #333, 179px 1472px #333, 1341px 808px #333, 1565px 1700px #333,
    407px 1544px #333, 1754px 357px #333, 1288px 981px #333, 902px 1997px #333,
    1755px 1668px #333, 186px 877px #333, 1202px 1882px #333, 461px 1213px #333,
    1400px 748px #333, 1969px 1899px #333, 809px 522px #333, 514px 1219px #333,
    374px 275px #333, 938px 1973px #333, 357px 552px #333, 144px 1722px #333,
    1572px 912px #333, 402px 1858px #333, 1544px 1195px #333, 667px 1257px #333,
    727px 1496px #333, 993px 232px #333, 1772px 313px #333, 1040px 1590px #333,
    1204px 1973px #333, 1268px 79px #333, 1555px 1048px #333, 986px 1707px #333,
    978px 1710px #333, 713px 360px #333, 407px 863px #333, 461px 736px #333,
    284px 1608px #333, 103px 430px #333, 1283px 1319px #333, 977px 1186px #333,
    1966px 1516px #333, 1287px 1129px #333, 70px 1098px #333, 1189px 889px #333,
    1126px 1734px #333, 309px 1292px #333, 879px 764px #333, 65px 473px #333,
    1003px 1959px #333, 658px 791px #333, 402px 1576px #333, 35px 622px #333,
    529px 1589px #333, 164px 666px #333, 1876px 1290px #333, 1541px 526px #333,
    270px 1297px #333, 440px 865px #333, 1500px 802px #333, 182px 1754px #333,
    1264px 892px #333, 272px 1249px #333, 1289px 1535px #333, 190px 1646px #333,
    955px 242px #333, 1456px 1597px #333, 1727px 1983px #333, 635px 801px #333,
    226px 455px #333, 1396px 1710px #333, 849px 1863px #333, 237px 1264px #333,
    839px 140px #333, 1122px 735px #333, 1280px 15px #333, 1318px 242px #333,
    1819px 1148px #333, 333px 1392px #333, 1949px 553px #333, 1878px 1332px #333,
    467px 548px #333, 1812px 1082px #333, 1067px 193px #333, 243px 156px #333,
    483px 1616px #333, 1714px 933px #333, 759px 1800px #333, 1822px 995px #333,
    1877px 572px #333, 581px 1084px #333, 107px 732px #333, 642px 1837px #333,
    166px 1493px #333, 1555px 198px #333, 819px 307px #333, 947px 345px #333,
    827px 224px #333, 927px 1394px #333, 540px 467px #333, 1093px 405px #333,
    1140px 927px #333, 130px 529px #333, 33px 1980px #333, 1147px 1663px #333,
    1616px 1436px #333, 528px 710px #333, 798px 1100px #333, 505px 1480px #333,
    899px 641px #333, 1909px 1949px #333, 1311px 964px #333, 979px 1301px #333,
    1393px 969px #333, 1793px 1886px #333, 292px 357px #333, 1196px 1718px #333,
    1290px 1994px #333, 537px 1973px #333, 1181px 1674px #333,
    1740px 1566px #333, 1307px 265px #333, 922px 522px #333, 1892px 472px #333,
    384px 1746px #333, 392px 1098px #333, 647px 548px #333, 390px 1498px #333,
    1246px 138px #333, 730px 876px #333, 192px 1472px #333, 1790px 1789px #333,
    928px 311px #333, 1253px 1647px #333, 747px 1921px #333, 1561px 1025px #333,
    1533px 1292px #333, 1985px 195px #333, 728px 729px #333, 1712px 1936px #333,
    512px 1717px #333, 1528px 483px #333, 313px 1642px #333, 281px 1849px #333,
    1212px 799px #333, 435px 1191px #333, 1422px 611px #333, 1718px 1964px #333,
    411px 944px #333, 210px 636px #333, 1502px 1295px #333, 1434px 349px #333,
    769px 60px #333, 747px 1053px #333, 789px 504px #333, 1436px 1264px #333,
    1893px 1225px #333, 1394px 1788px #333, 1108px 1317px #333,
    1673px 1395px #333, 854px 1010px #333, 1705px 80px #333, 1858px 148px #333,
    1729px 344px #333, 1388px 664px #333, 895px 406px #333, 1479px 157px #333,
    1441px 1157px #333, 552px 1900px #333, 516px 364px #333, 1647px 189px #333,
    1427px 1071px #333, 785px 729px #333, 1080px 1710px #333, 504px 204px #333,
    1177px 1622px #333, 657px 34px #333, 1296px 1099px #333, 248px 180px #333,
    1212px 1568px #333, 667px 1562px #333, 695px 841px #333, 1608px 1247px #333,
    751px 882px #333, 87px 167px #333, 607px 1368px #333, 1363px 1203px #333,
    1836px 317px #333, 1668px 1703px #333, 830px 1154px #333, 1721px 1398px #333,
    1601px 1280px #333, 976px 874px #333, 1743px 254px #333, 1020px 1815px #333,
    1670px 1766px #333, 1890px 735px #333, 1379px 136px #333, 1864px 695px #333,
    206px 965px #333, 1404px 1932px #333, 1923px 1360px #333, 247px 682px #333,
    519px 1708px #333, 645px 750px #333, 1164px 1204px #333, 834px 323px #333,
    172px 1350px #333, 213px 972px #333, 1837px 190px #333, 285px 1806px #333,
    1047px 1299px #333, 1548px 825px #333, 1730px 324px #333, 1346px 1909px #333,
    772px 270px #333, 345px 1190px #333, 478px 1433px #333, 1479px 25px #333,
    1994px 1830px #333, 1744px 732px #333, 20px 1635px #333, 690px 1795px #333,
    1594px 569px #333, 579px 245px #333, 1398px 733px #333, 408px 1352px #333,
    1774px 120px #333, 1152px 1370px #333, 1698px 1810px #333, 710px 1450px #333,
    665px 286px #333, 493px 1720px #333, 786px 5px #333, 637px 1140px #333,
    764px 324px #333, 927px 310px #333, 938px 1424px #333, 1884px 744px #333,
    913px 462px #333, 1831px 1936px #333, 1527px 249px #333, 36px 1381px #333,
    1597px 581px #333, 1530px 355px #333, 949px 459px #333, 799px 828px #333,
    242px 1471px #333, 654px 797px #333, 796px 594px #333, 1365px 678px #333,
    752px 23px #333, 1630px 541px #333, 982px 72px #333, 1733px 1831px #333,
    21px 412px #333, 775px 998px #333, 335px 1945px #333, 264px 583px #333,
    158px 1311px #333, 528px 164px #333, 1978px 574px #333, 717px 1203px #333,
    734px 1591px #333, 1555px 820px #333, 16px 1943px #333, 1625px 1177px #333,
    1236px 690px #333, 1585px 1590px #333, 1737px 1728px #333, 721px 698px #333,
    1804px 1186px #333, 166px 980px #333, 1850px 230px #333, 330px 1712px #333,
    95px 797px #333, 1948px 1078px #333, 469px 939px #333, 1269px 1899px #333,
    955px 1220px #333, 1137px 1075px #333, 312px 1293px #333, 986px 1762px #333,
    1103px 1238px #333, 428px 1993px #333, 355px 570px #333, 977px 1836px #333,
    1395px 1092px #333, 276px 913px #333, 1743px 656px #333, 773px 502px #333,
    1686px 1322px #333, 1516px 1945px #333, 1334px 501px #333, 266px 156px #333,
    455px 655px #333, 798px 72px #333, 1059px 1259px #333, 1402px 1687px #333,
    236px 1329px #333, 1455px 786px #333, 146px 1228px #333, 1851px 823px #333,
    1062px 100px #333, 1220px 953px #333, 20px 1826px #333, 36px 1063px #333,
    1525px 338px #333, 790px 1521px #333, 741px 1099px #333, 288px 1489px #333,
    700px 1060px #333, 390px 1071px #333, 411px 1036px #333, 1853px 1072px #333,
    1446px 1085px #333, 1164px 874px #333, 924px 925px #333, 291px 271px #333,
    1257px 1964px #333, 1580px 1352px #333, 1507px 1216px #333, 211px 956px #333,
    985px 1195px #333, 975px 1640px #333, 518px 101px #333, 663px 1395px #333,
    914px 532px #333, 145px 1320px #333, 69px 1397px #333, 982px 523px #333,
    257px 725px #333, 1599px 831px #333, 1636px 1513px #333, 1250px 1158px #333,
    1132px 604px #333, 183px 102px #333, 1057px 318px #333, 1247px 1835px #333,
    1983px 1110px #333, 1077px 1455px #333, 921px 1770px #333, 806px 1350px #333,
    1938px 1992px #333, 855px 1260px #333, 902px 1345px #333, 658px 1908px #333,
    1845px 679px #333, 712px 1482px #333, 595px 950px #333, 1784px 1992px #333,
    1847px 1785px #333, 691px 1004px #333, 175px 1179px #333, 1666px 1911px #333,
    41px 61px #333, 971px 1080px #333, 1830px 1450px #333, 1351px 1518px #333,
    1257px 99px #333, 1395px 1498px #333, 1117px 252px #333, 1779px 597px #333,
    1346px 729px #333, 1108px 1144px #333, 402px 691px #333, 72px 496px #333,
    1673px 1604px #333, 1497px 974px #333, 1865px 1664px #333, 88px 806px #333,
    918px 77px #333, 244px 1118px #333, 256px 1820px #333, 1851px 1840px #333,
    605px 1851px #333, 634px 383px #333, 865px 37px #333, 943px 1024px #333,
    1951px 177px #333, 1097px 523px #333, 985px 1700px #333, 1243px 122px #333,
    768px 1070px #333, 468px 194px #333, 320px 1867px #333, 1850px 185px #333,
    380px 1616px #333, 468px 1294px #333, 1122px 1743px #333, 884px 299px #333,
    1300px 1917px #333, 1860px 396px #333, 1270px 990px #333, 529px 733px #333,
    1975px 1347px #333, 1885px 685px #333, 226px 506px #333, 651px 878px #333,
    1323px 680px #333, 1284px 680px #333, 238px 1967px #333, 911px 174px #333,
    1111px 521px #333, 1150px 85px #333, 794px 502px #333, 484px 1856px #333,
    1809px 368px #333, 112px 953px #333, 590px 1009px #333, 1655px 311px #333,
    100px 1026px #333, 1803px 352px #333, 865px 306px #333, 1077px 1019px #333,
    1335px 872px #333, 1647px 1298px #333, 1233px 1387px #333, 698px 1036px #333,
    659px 1860px #333, 388px 1412px #333, 1212px 458px #333, 755px 1468px #333,
    696px 1654px #333, 1144px 60px #333;
}

#stars2 {
  position: absolute;
  z-index: -1;
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #333, 1775px 1663px #333, 332px 1364px #333,
    878px 340px #333, 569px 1832px #333, 1422px 1684px #333, 1946px 1907px #333,
    121px 979px #333, 1044px 1069px #333, 463px 381px #333, 423px 112px #333,
    523px 1179px #333, 779px 654px #333, 1398px 694px #333, 1085px 1464px #333,
    1599px 1869px #333, 801px 1882px #333, 779px 1231px #333, 552px 932px #333,
    1057px 1196px #333, 282px 1280px #333, 496px 1986px #333, 1833px 1120px #333,
    1802px 1293px #333, 6px 1696px #333, 412px 1902px #333, 605px 438px #333,
    24px 1212px #333, 234px 1320px #333, 544px 344px #333, 1107px 170px #333,
    1603px 196px #333, 905px 648px #333, 68px 1458px #333, 649px 1969px #333,
    744px 675px #333, 1127px 478px #333, 714px 1814px #333, 1486px 526px #333,
    270px 1636px #333, 1931px 149px #333, 1807px 378px #333, 8px 390px #333,
    1415px 699px #333, 1473px 1211px #333, 1590px 141px #333, 270px 1705px #333,
    69px 1423px #333, 1108px 1053px #333, 1946px 128px #333, 371px 371px #333,
    1490px 220px #333, 357px 1885px #333, 363px 363px #333, 1896px 1256px #333,
    1979px 1050px #333, 947px 1342px #333, 1754px 242px #333, 514px 974px #333,
    65px 1477px #333, 1840px 547px #333, 950px 695px #333, 459px 1150px #333,
    1124px 1502px #333, 481px 940px #333, 680px 839px #333, 797px 1169px #333,
    1977px 1491px #333, 734px 1724px #333, 210px 298px #333, 816px 628px #333,
    686px 770px #333, 1721px 267px #333, 1663px 511px #333, 1481px 1141px #333,
    582px 248px #333, 1308px 953px #333, 628px 657px #333, 897px 1535px #333,
    270px 931px #333, 791px 467px #333, 1336px 1732px #333, 1013px 1653px #333,
    1911px 956px #333, 587px 816px #333, 83px 456px #333, 930px 1478px #333,
    1587px 1694px #333, 614px 1200px #333, 302px 1782px #333, 1711px 1432px #333,
    443px 904px #333, 1666px 714px #333, 1588px 1167px #333, 273px 1075px #333,
    1679px 461px #333, 721px 664px #333, 1202px 10px #333, 166px 1126px #333,
    331px 1628px #333, 430px 1565px #333, 1585px 509px #333, 640px 38px #333,
    822px 837px #333, 1760px 1664px #333, 1122px 1458px #333, 398px 131px #333,
    689px 285px #333, 460px 652px #333, 1627px 365px #333, 348px 1648px #333,
    819px 1946px #333, 981px 1917px #333, 323px 76px #333, 979px 684px #333,
    887px 536px #333, 1348px 1596px #333, 1055px 666px #333, 1402px 1797px #333,
    1300px 1055px #333, 937px 238px #333, 1474px 1815px #333, 1144px 1710px #333,
    1629px 1087px #333, 911px 919px #333, 771px 819px #333, 403px 720px #333,
    163px 736px #333, 1062px 238px #333, 1774px 818px #333, 1874px 1178px #333,
    1177px 699px #333, 1244px 1244px #333, 1371px 58px #333, 564px 1515px #333,
    1824px 487px #333, 929px 702px #333, 394px 1348px #333, 1161px 641px #333,
    219px 1841px #333, 358px 941px #333, 140px 1759px #333, 1019px 1345px #333,
    274px 436px #333, 1433px 1605px #333, 1798px 1426px #333, 294px 1848px #333,
    1681px 1877px #333, 1344px 1824px #333, 1439px 1632px #333,
    161px 1012px #333, 1308px 588px #333, 1789px 582px #333, 721px 1910px #333,
    318px 218px #333, 607px 319px #333, 495px 535px #333, 1552px 1575px #333,
    1562px 67px #333, 403px 926px #333, 1096px 1800px #333, 1814px 1709px #333,
    1882px 1831px #333, 533px 46px #333, 823px 969px #333, 530px 165px #333,
    1030px 352px #333, 1681px 313px #333, 338px 115px #333, 1607px 211px #333,
    1718px 1184px #333, 1589px 659px #333, 278px 355px #333, 464px 1464px #333,
    1165px 277px #333, 950px 694px #333, 1746px 293px #333, 793px 911px #333,
    528px 773px #333, 1883px 1694px #333, 748px 182px #333, 1924px 1531px #333,
    100px 636px #333, 1473px 1445px #333, 1264px 1244px #333, 850px 1377px #333,
    987px 1976px #333, 933px 1761px #333, 922px 1270px #333, 500px 396px #333,
    1324px 8px #333, 1967px 1814px #333, 1072px 1401px #333, 961px 37px #333,
    156px 81px #333, 1915px 502px #333, 1076px 1846px #333, 152px 1669px #333,
    986px 1529px #333, 1667px 1137px #333;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
