* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }

  nav {
    padding: 10px;
  }
  .subtitle {
    font-size: 1.1rem;
  }
}

@media (min-width: 767px) and (max-width: 1025px) {
  .hero-content-page2 {
    padding: 0px;
  }
}

.hero-content-page2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: left;
}

.element-title {
  margin-left: 50px;
}
.box {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.subtitle {
  font-weight: 400;
}
.subtitle2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.check-list {
  border: 2px solid #848484;
  border-radius: 7px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 50px;
}
.list-elements {
  margin-left: 7px;
  font-size: 1.2rem;
  font-weight: 500;
}

.title-page2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 10px;
}

.title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.home-btn {
  width: 40px;
  height: 40px;
  background-color: #e9e4de;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow {
  color: #000;
}

.checked {
  background-color: #c4c4c4;
}

.text-checked {
  color: #c4c4c4;
  font-style: italic;
  text-decoration: line-through;
}
